body {
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.new-msg {
    color: #000;
}

.dm-add {
    background-color: #ffffff;
}

.dm-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
}

#dm-list {
    width: 100px;
    height: 100%;
    flex-shrink: 0;
    overflow-y: scroll;
    background-color: #201825;
}
#dm-list .dm-item {
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    word-break: break-word;
    text-overflow: ellipsis;
}
#dm-list .dm-item .dm-recipientcount {
    display: none;
}
#dm-list .dm-item.dm-group .dm-recipientcount {
    display: inline-block;
}

#dm-open {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#dm-open .dm-openinner {
    flex-grow: 1;
    overflow-y: scroll;
    background-color: #36393f;
}
#dm-open .dm-openinner .dm-name {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
#dm-open .dm-openinner .dm-name::after {
    font-family: Arial, Helvetica, sans-serif;
    content: "\a";
    white-space: pre;
    margin-bottom: 30px;
    color: #fff;
}
#dm-open .dm-openinner .dm-date {
    display: none;
}
#dm-open .dm-openinner .dm-content {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    margin-left: 70px;
    color: #fff;
}
.dm-newmessage {
    background: #ddd;
}
